
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewData["Title"] ?? "ASP.NET project") </title>
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
        <div>Master Layout</div>
        <div >
            @RenderBody()
        </div>

</body>
</html>
