<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewData["Title"] ?? "ASP.NET project") </title>
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">ASP.NET project</div>
            
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
